/***************************top-banner-开始*************************/
.sn-top-banner {
    background-color: #164fa6;
    height: 100px;
    position: relative;
}

.sn-top-banner .close-banner {
    position: absolute;
    top: 3px;
    right: 56px;
    width: 15px;
    height: 15px;
    background: url("../images/index.png") -241px -145px;
}

.sn-top-banner .close-banner:hover {
    background-position: -256px -145px;
}

/***************************top-banner-结束*************************/

/***************************toolbar-开始*************************/
.sn-toolbar {
    height: 35px;
    line-height: 35px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}

.sn-toolbar li {
    float: left;
    padding: 0 15px;
}

.sn-toolbar .down {
    position: relative;
    /*background-color: red;*/
    padding: 0 25px 0 10px;
}

.sn-toolbar .down i {
    width: 14px;
    height: 6px;
    /*background-color: green;*/

    position: absolute;
    top: 14px;
    right: 11px;
    overflow: hidden;

}

.sn-toolbar .down i s {
    position: absolute;
    font-size: 20px;
    top: -17px;
    color: #666;
}

.sn-toolbar .address {
    position: relative;
}

.sn-toolbar .address .address-icon {
    position: absolute;
    left: 0;
    top: 7px;
    width: 20px;
    height: 20px;
    background: url("../images/index.png") -387px -181px;
}

.sn-toolbar .address s {
    color: #bbbbbb;
}

.sn-toolbar .cart {
    width: 15px;

    position: absolute;
    left: -8px;
    top: 7px;
}

/***************************toolbar-结束*************************/

/***************************搜索-开始*************************/
.sn-top-search {
    height: 110px;
    /*background-color: blue;*/
}

.sn-top-search .logo-set {
    width: 400px;
    height: 110px;
    /*background-color: red;*/
    float: left;
}

.sn-top-search .logo-set .main-logo {
    width: 190px;
    height: 90px;
    background: url("../images/sn-logo.png") no-repeat center;

}

.sn-top-search .logo-set .sub-logo {
    width: 160px;
    height: 100px;
    margin-top: 5px;
    background: url("../images/sn-sub-logo.gif") no-repeat center;
}

.sn-top-search .logo-set .main-logo, .sn-top-search .logo-set .sub-logo {
    -webkit-background-size: contain;
    background-size: contain;
    float: left;
}

.sn-top-search .search-input {
    float: left;
    width: 538px;
    height: 36px;
    /*background-color: red;*/
    padding-top: 30px;
}

.sn-top-search .search-input input {
    padding-left: 5px;
    float: left;
    color: #cccccc;
    width: 449px;
    height: 32px;
    border: 2px solid #F80;
    border-right: 0;
}

.sn-top-search .search-input button {
    border: none;
    float: left;
    height: 36px;
    width: 82px;
    background-color: #F80;
    color: #fff;
    font: 400 18px/36px "microsoft yahei";
    cursor: pointer;
}

.sn-top-search .search-more-link {
    float: left;
    width: 520px;
    height: 30px;
    /*background-color: green;*/
}

.sn-top-search .search-more-link li {
    float: left;
    margin: 7px 10px 7px 0;
    border-left: 1px solid #c0c0c0;
    padding-left: 5px;
}

.sn-top-search .search-more-link li:first-child {
    border: none;
}

/*.sn-top-search .search-more-link li + li{

}*/

/***************************搜索-结束*************************/

/***************************导航-开始*************************/
.sn-nav {
    width: 100%;
    height: 38px;
    /*background-color: red;*/
}

.sn-nav .sn-nav-menu {
    width: 210px;
    height: 38px;
    float: left;
    z-index: 1;

    /*background-color: green;*/
}

.sn-nav .sn-nav-menu .sn-nav-menu-all a{
    display: block;
    width: 190px;
    height: 38px;
    background-color: #f90;
    color: white;
    font: 600 14px/38px "microsoft yahei";
    padding-left: 30px;
    box-sizing: border-box;

    position: relative;
}

.sn-nav .sn-nav-menu  .sn-nav-menu-all  a:before{
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: url("../images/index.png") 0 0;

    position: absolute;
    left: 11px;
    top: 14px;
}

.sn-nav-menu .sn-nav-menu-one{
    width: 190px;
    height: 440px;
    background-color: #252221;
}

.sn-nav .sn-nav-item li{
    float: left;
}

.sn-nav .sn-nav-item li a{
    display: inline-block;
    height: 38px;
    padding: 0 12px;
    font: 600 16px/38px "microsoft yahei";
    color: #333333;
}

.sn-nav .sn-nav-item li a:hover{
    color: #f60;
}

.sn-nav .sn-nav-menu-one .index-list li{
    height: 31px;
    padding: 0 10px 0 8px;
    font: 400 13px/31px  "microsoft yahei";
    color: #666;
}

.sn-nav .sn-nav-menu-one .index-list li a{
    color: #fff;
}

/***************************导航-结束*************************/

.sn-first-screen{
    width: 100%;
    height: 440px;
    background-color: purple;
}


/*footer部分start*/
.footer-top-slogen {
    width: 100%;
    height: 54px;
    position: relative;
    padding: 20px 0;
    margin-bottom: 16px;
    background-color: #F5F5F5;
}
.footer-top-slogen-icon {
    position: absolute;
    /*top: 20px;*/
    left: 50%;
}
.footer-top-slogen-icon1 {
    margin-left: -604px;
}
.footer-top-slogen-icon2 {
    margin-left: -302px;
}
.footer-top-slogen-icon4 {
    margin-left: 302px;
}
.footer-top-shopping dl {
    float: left;
    width: 200px;
}
dl.last-dl {
    width: 100px;
}
.footer-top-shopping dt,
.coverage h3 {
    height: 34px;
    font: 400 16px/34px "microsoft yahei";
}
.footer-top-shopping dd {
    line-height: 20px;
}
.coverage {
    width: 186px;
    height: 169px;
    float: right;
    margin-right: 60px;
    padding-left: 17px;
    background: url(../images/china.png) no-repeat left bottom;
}
.coverage p {
    padding-top: 8px;
}
.coverage a {
    float: right;
}
.footer-bottom {
    margin-top: 20px;
    text-align: center;
    padding: 20px 0 30px;
    border-top: 1px solid #E5E5E5;
}
.footer-bottom-links a {
    margin: 0 10px;
}
.footer-bottom-copyright {
    padding: 10px 0;
}
.footer-bottom-img a {
    margin: 0 5px;
}
/*footer部分end*/