@font-face {
  font-family: 'itlike';
  src:  url('fonts/itlike.eot?minro');
  src:  url('fonts/itlike.eot?minro#iefix') format('embedded-opentype'),
    url('fonts/itlike.ttf?minro') format('truetype'),
    url('fonts/itlike.woff?minro') format('woff'),
    url('fonts/itlike.svg?minro#itlike') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="itlike-"], [class*=" itlike-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'itlike' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.itlike-round_check:before {
  content: "\e900";
}
.itlike-search:before {
  content: "\e901";
}
